<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../../assets//css/main.css">
  <title>Document</title>
</head>

<body>
  <header id="Header">
    <div class="header-top d-flex justify-content-end align-items-center container-fluid">
      <div class="header-log-in">
        <a href="#" class="log-in d-flex align-items-center">
          <i class="fas fa-user-circle"></i>
          <span>Đăng Nhập</span>
        </a>
      </div>
      <div class="header-khuvuc d-flex align-items-center">
        <i class="fas fa-map-marker-alt"></i>
        <button type="button" class="btn btn-primary dropdown-toggle btn-khuvuc" data-toggle="dropdown">
          Hồ Chí Minh
        </button>
        <div class="dropdown-menu khuvuc-scroll">
          <a class="dropdown-item" href="#">Hà Nội</a>
          <a class="dropdown-item" href="#">Đà Nẵng</a>
          <a class="dropdown-item" href="#">Hải Phòng</a>
          <a class="dropdown-item" href="#">Nha Trang</a>
          <a class="dropdown-item" href="#">Bà Rịa Vũng Tàu</a>
          <a class="dropdown-item" href="#">Hồ Chí Minh</a>
          <a class="dropdown-item" href="#">Cần Thơ</a>
        </div>
      </div>
    </div>
  </header>
  <nav id="NavBar" class="my-container sticky-top d-flex justify-content-between align-items-center">
    <div class="navbar-brand">
      <a href="#">
        <img src="./../img/logo.png" alt="LuManhDan">
      </a>
    </div>
    <div class="nav-menu">
      <ul class="nav3-nav d-flex align-items-center">
        <li class="nav-item">
          <a href="#" class="active">Phim Đang Chiếu</a>
        </li>
        <li class="nav-item">
          <a href="#">Phim Sắp Chiếu</a>
        </li>
        <li class="nav-item">
          <a href="#">Tin Tức</a>
        </li>
      </ul>
    </div>
    <div class="toggle-button">
      <button id="show-menu">
        <!-- <img src="./../img/navbar-icon-light.png" alt=""> -->
        <i class="fas fa-bars"></i>
      </button>
    </div>


  </nav>
  <section id="Sidebar" class="side-bar d-flex">
    <div class="side-menu">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="#">Phim Đang Chiếu</a>
        </li>
        <li class="menu-item">
          <a href="#">Phim Sắp Chiếu</a>
        </li>
        <li class="menu-item">
          <a href="#">Tin Tức</a>
        </li>
      </ul>
    </div>

    <div class="sidebar-bg">

    </div>
  </section>

  <div style="height: 100vh">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">
    <img src="./../../../../Pictures/10407372_885035491556934_7224019346032113261_n.png" alt="">

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="./../../assets/style/style.js"></script>
</body>

</html>