#Sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100vh;
  z-index: 10000;
  .side-menu {
    background-color: $primary-color;
    height: 100vh;
    width: 70%;
    position: absolute;
    right: 0;
    z-index: 20000;
    box-shadow: -1px 0px 15px black;
  }
  .sidebar-bg {
    height: 100vh;
    width: 30%;
    position: absolute;
    right: 70%;
    background-color: $primary-color;
    opacity: 0.1;
    // display: none;
    z-index: 10000;
  }

  .side-menu {
    .menu-list {
      padding: 15px 5px;
      .menu-item {
        padding: 15px 10px;
        list-style: none;
        border-bottom: 1px solid $primary-color-light;
        a {
          text-decoration: none;
          color: $text-color;
          font-size: 20px;
          font-weight: 500;
        }
        &:hover {
          background-color: white;
          a {
            color: $primary-color-dark;
          }
        }
      }
    }
  }
  @media screen and(max-width: 601px){
    
  }
}
